# export OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
# export OTEL_TRACES_SAMPLER=parentbased_traceidratio
# export OTEL_TRACES_SAMPLER_ARG=1
export OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://localhost:4319/v1/logs